.main-container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.lg-container{
    width: 900px;
    float: left;
}

.sm-container{
    width: 280px;
    float: right;
}