{% from "common/_macros.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "common/_heads.html" %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static("front/css/signup_signin.css") }}">
    {% block head %}{% endblock %}

</head>
<body>
    <div class="outer-box">
        <div class="logo-box">
            <a href="/">
                <img src="{{ static("common/images/logo2.png") }}" alt="">
            </a>
        </div>
        <h2 class="page-title">{% block h2_title %}{% endblock %}</h2>
        <div class="sign-box">
            {% block sign_block %}{% endblock %}
        </div>
        <span id="return-to-span" style="display: none">{{ return_to }}</span>
    </div>


</body>
</html>